{{!< default}}

{{>main-header}}

<div>
Start here:
<ul>
	<li><a href="./recommender-systems-the-most-valuable-application-of-machine-learning-part-1/">Recommender Systems: The Most Valuable Application of Machine Learning (Part 1)</a></li>
	<li><a href="./machine-learning-system-design/">Machine Learning System Design</a></li>
	<li><a href="./the-world-doesnt-care-lessons-from-startup-failure/">The World Doesn't Care - Lessons From Startup Failure</a></li>
</ul>
</div>

<main class="content post-list" id="content">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
</main>
